<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render "layouts/search", post: @post %>
      <%= render "layouts/rule" %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= render "public/posts/index", posts: @posts %>
    </div>
  </div>
</div>