<div class='container px-5 px-sm-0 form-box'>
  <div class="row">
    <div class="col">
      <div class="offset-1 text-center">
        <h2 class="text-center px-3 py-3">
          <strong>新規投稿</strong>
        </h2>
      </div>
    </div>
  </div>
  <%= render 'public/posts/form', post: @post, url: posts_path, submit: '投稿' %>
</div>