// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background_img {
  opacity: 0.35;
  color: #343a40;
  height: auto;
  width: auto;
  background-image: image-url("yaei-winter.jpg");
}