<div class='container px-5 px-sm-0  form-box'>
  <div class="row">
    <div class="offset-1 text-center">
      <h2 class="text-center px-3 py-3">
        <strong>野営の心得</strong>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      Public::Homes#how_to
    </div>
  </div>
</div>