<div class='container px-5 px-sm-0  form-box'>
  <div class="row">
    <div class="offset-1 text-center">
      <h2 class="text-center px-3 py-3">
        <strong>管理者トップページ</strong>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <% if @posts.exists? %>
        <%= render "admin/posts/index", posts: @posts %>
      <% else %>
        <h3>対応する投稿はありません。</h3>
      <% end %>
    </div>
  </div>
</div>