<section class="inner">
  <h2 class="section-ttl">環境タグ管理</h2>
  <div class="mb3">
    <h3>環境タグ新規登録</h3>
    <%= render 'form', environment: @environment, url: admin_environments_path, method: :POST, submit: '登録' %>
  </div>
  <div class="mb3">
    <h3>環境一覧</h3>
    <table class="environment_info has_border">
      <thead>
        <tr>
          <th>環境名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @environments.each do |environment| %>
          <tr>
            <td><%= link_to environment.name, admin_root_path(environment_id: environment.id), class: "underline" %></td>
          <% if admin_signed_in? %>
            <td class="text-center"><%= link_to "編集", edit_admin_environment_path(environment), class: "btn btn-success" %></td>
            <td class="text-center"><%= link_to '削除', admin_environment_path(environment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>