<div class="border">
  <h2 class="text-center mt-3">野営十か条</h2>
  <a>➀ゴミは持って帰れ！</a></br>
  <a>➁近所に迷惑をかけない！</a></br>
  <a>➂直火禁止！</a></br>
  <a>➃火の処理は正しく</a></br>
  <a>➄飛び火、延焼に注意！</a></br>
  <a>➅雨天の川沿いなど、危険地は避ける</a></br>
  <a>➆野営は許可を取って</a></br>
  <a>➇野営場所は誰かに伝える</a></br>
  <a>➈獣に注意！</a></br>
  <a>➉野営は自己責任で</a></br>
</div>